# Default tools
export EDITOR="subl -w"
export REACT_EDITOR="atom"

# Larger bash history (allow 32³ entries; default is 500)
export HISTSIZE=32768
export SAVEHIST=$HISTSIZE
export HISTFILESIZE=$HISTSIZE
export HISTCONTROL=ignoredups
# Make some commands not show up in history
export HISTIGNORE="ls:cd:cd -:pwd:exit:date:* --help"

# Prefer US English and use UTF-8
export LANG="en_US"
export LC_ALL="en_US.UTF-8"

# Highlight section titles in manual pages
export LESS_TERMCAP_md="$ORANGE"

# Always enable colored `grep` output
export GREP_OPTIONS="--color=auto"
export CLICOLOR=1

export RBENV_ROOT=/usr/local/var/rbenv
export NODE_PATH="/usr/local/share/npm/lib/node_modules"
export MANPATH="/usr/local/share/man:$MANPATH"
export INFOPATH="/usr/local/share/info:$INFOPATH"
export PYTHONSTARTUP="$HOME/.pystartup"
export JAVA_HOME="$(/usr/libexec/java_home -v 1.8)"

export ANT_HOME=/usr/local/opt/ant
export MAVEN_HOME=/usr/local/opt/maven
export GRADLE_HOME=/usr/local/opt/gradle
export ANDROID_NDK=/opt/android_ndk/android-ndk-r16b
export ANDROID_NDK_HOME=$ANDROID_NDK
export ANDROID_NDK_REPOSITORY=/opt/android_ndk

# To extend PATH, see /etc/paths and /etc/paths.d
export PATH=$JAVA_HOME/bin:$PATH
export PATH=$HOME/bin:$PATH
